<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rest-assured">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Github"/>
      <class name="Trello_Board"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Rest-assured -->
